.firmen_top_content {
  padding-top: 20px;
}

.input-section-first {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.input-section-second {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 170px;
}

.input_select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
}

.input_select_feild {
  width: 180px;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 3px rgb(0 0 255 / 20%);
}

/* .input_select_feild > option {
  padding: 10px;
} */

.input-first-label {
  padding-right: 38px;
  font-size: 25px;
  margin-left: 16%;
}

.first-input-value {
  width: 24%;
  height: 27px;
  font-size: 20px;
}

.input-second-label {
  padding-right: 40px;
  font-size: 25px;
}
.input-value {
  font-size: 30px;
}

.css-319lph-ValueContainer {
  width: 170px;
}

.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;
  padding-right: 10px;
  width: 30%;
  /* padding-left: 91px; */
}

@media screen and (max-width: 1024px) {
  .input-section-second {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .input-second-label {
    padding-right: 15px;
    font-size: 25px;
  }
  .css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    padding-right: 10px;
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .input-first-label {
    padding-right: 38px;
    font-size: 25px;
    margin-left: 17px;
    /* width: 93px; */
}
  .css-1s2u09g-control {
    width: 160%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 425px) {
  .input-section-second {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .input-second-label {
    padding-right: 15px;
    font-size: 25px;
  }
  .css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    padding-right: 10px;
    width: 80px;
  }

}
