.card_container {
  top: 0;
  bottom: 0;
  background-color: white;
  left: 50%;
  right: 50%;
  margin: 3% 8%;
  width: 85%;
  border-radius: 10px;
  min-height: 30%;
  padding-bottom: 50px;
}

.card_title {
  font-size: 30px;
  border-bottom: 1px solid gray;
  padding: 2px 25px;
  font-weight: bolder;
}
