.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  position: fixed;
  z-index: 20;
  background-color:#eff2f7;
  width: 500px;
  height: 85%;

  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
}
.modal__header {
  background-color: #eff2f7;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.modal_header_title{
  font-size: 15px;
}

.close_button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: darkgray;
  font-size: 28px;
}

.close-button:hover {
  color: yellow;
}

.modal_title{
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.modal__main {
  padding: 20px;
  height: 150px;
}
.modal-btn-container{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.modal-btn{
     font-weight: bolder;
     padding: 7px 15px;
}